.buttons {
  background-color: #b7b79e;
  color: #ffffff;
}
.buttons:hover{
  background-color: #84846c;
  color: #ffffff;
  font-weight: bold;
}
.blueButtons {
  background-color: #9ea4b7;
  color: #ffffff;
}
.blueButtons:hover {
  background-color: #6f7380;
  color: #ffffff;
}